<property name="Strict-Transport-Security" scope="transport" value="max-age=31536000; includeSubDomains"/>
<property name="X-Content-Type-Options" scope="transport" value="nosniff"/>
<property name="Cache-Control" scope="transport" value="no-store"/>
<property name="X-Consumer-App" scope="transport" action="remove"/>
